.fadein .fadein-left {
  transition: all 0.5s linear 0s;
  transform: translate(-30px, 0);
  opacity: 0;
}
.fadein .fadein-left.show {
  transform: translate(0, 0);
  opacity: 1;
}

.scrooll-animation {
  opacity: 0;
  transform: translate(-30px, 0);
  transition: all 1s;
}

.scrooll-animation.active {
  opacity: 1;
  transform: translate(0, 0);
}

/* YuGothic */
/* Platelet */
/* Barlow */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.p-cooler {
  /****----------
  *****base
  *****----------*/
  /****----------
  *****base
  *****----------*/
}
.p-cooler img {
  display: block;
  width: 100%;
  height: auto;
}
.p-cooler button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.p-cooler p {
  font-size: 1.6em;
  line-height: 1.75em;
}
.p-cooler a {
  display: block;
  text-decoration: none;
  transition: opacity 0.15s;
  font-size: 1.6em;
  line-height: 1.75em;
  cursor: pointer;
}
.p-cooler li {
  list-style: none;
}
.p-cooler table {
  border-spacing: 0;
}
.p-cooler input[type=submit] {
  cursor: pointer;
}
.p-cooler select::-ms-expand {
  display: none;
}
@media screen and (max-width: 1024px) {
  .p-cooler .ta {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .p-cooler .ta {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .p-cooler .pc {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .p-cooler .pc {
    display: flex;
  }
}
.p-cooler_wrap {
  padding: 98px 0;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .p-cooler_wrap {
    padding: 85px 0 50px;
  }
}
.p-cooler_wrap h2 {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h2 {
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.p-cooler_wrap h2 label {
  display: inline-block;
  width: 68px;
  font-size: 30px;
  letter-spacing: -16.5px;
}
.p-cooler_wrap h2 label:first-child {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h2 label:first-child {
    top: 0;
    left: 0;
    text-align: inherit;
  }
}
.p-cooler_wrap h2 label:last-child {
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h2 label:last-child {
    top: 0;
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h2 label {
    position: absolute;
    width: 34px;
    font-size: 23px;
  }
}
.p-cooler_wrap h2 p {
  font-size: 30px;
  margin: 0 20px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h2 p {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
}
.p-cooler_wrap h1 {
  margin: 44px 0 1px;
  text-align: center;
  font-size: 50px;
  line-height: 75px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h1 {
    margin: 30px 0 10px;
    font-size: 20px;
    line-height: 30px;
  }
}
.p-cooler_wrap h3 {
  margin: 0 0 6px 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap h3 {
    margin: 0 14px 42px;
    font-size: 16px;
    line-height: 20px;
  }
}
.p-cooler_wrap_table {
  margin: 0 auto;
  overflow: auto;
  overflow-x: scroll;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1420px) {
  .p-cooler_wrap_table {
    width: inherit;
  }
}
.p-cooler_wrap_table_wrap {
  width: 1420px;
  border-collapse: separate;
  border-spacing: 13px 0;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    border-spacing: 5px 0;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr:nth-child(odd) td {
  background-color: #e4e7ec;
}
.p-cooler_wrap_table_wrap_tbody_tr:nth-child(even) td {
  background-color: #f8f8f8;
}
.p-cooler_wrap_table_wrap_tbody_tr_th {
  position: relative;
  padding-bottom: 14px;
}
.p-cooler_wrap_table_wrap_tbody_tr_th:first-child {
  left: 0;
  position: sticky;
  z-index: 1;
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle {
  height: 396px;
  background-color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle {
    height: 260px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 262px 396px 0;
  border-color: transparent #e4e7ec transparent transparent;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle::before {
    border-width: 0 84px 259px 0;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle::after {
  content: "";
  position: absolute;
  bottom: 13px;
  right: 0;
  border-style: solid;
  border-width: 396px 0 0 262px;
  border-color: transparent transparent transparent #e4e7ec;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle::after {
    border-width: 250px 0 0 84px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle p {
  position: absolute;
  padding: 0 !important;
  z-index: 1 !important;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.75x;
  color: #000000 !important;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle p:first-child {
  top: 99px;
  right: 30px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle p:first-child {
    top: 10px;
    right: 10px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th_triangle p:last-child {
  bottom: 90px;
  left: 30px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th_triangle p:last-child {
    bottom: 23px;
    left: 14px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th img {
  width: 270px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th img {
    width: 130px;
    height: 196px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 30px;
  font-size: 25px;
  line-height: 38px;
  font-weight: bold;
  letter-spacing: 0.75px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th p {
    padding: 11px 0;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.48px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(1) {
  min-width: 261px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(1) {
    min-width: 90px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(2) p {
  background: transparent linear-gradient(180deg, #28c2c0 0%, #2ed39b 100%) 0% 0% no-repeat padding-box;
}
.p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(3) p {
  background: transparent linear-gradient(180deg, #9485e1 0%, #bd79cf 100%) 0% 0% no-repeat padding-box;
}
.p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(4) p {
  background: transparent linear-gradient(180deg, #409ed7 0%, #28c2d7 100%) 0% 0% no-repeat padding-box;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(4) p {
    min-height: 62px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(5) p {
  background: transparent linear-gradient(180deg, #ec7266 0%, #f88765 100%) 0% 0% no-repeat padding-box;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr_th:nth-child(5) p {
    min-height: 62px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr td {
  padding: 20px 0 17px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr td {
    padding: 13px 0 10px !important;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr td:not(:last-child) {
  padding-bottom: 13px;
}
.p-cooler_wrap_table_wrap_tbody_tr td:first-child {
  position: sticky;
  z-index: 1;
  left: 0;
}
.p-cooler_wrap_table_wrap_tbody_tr td:first-child label h3 {
  font-weight: bold;
}
.p-cooler_wrap_table_wrap_tbody_tr td:first-child label p {
  font-weight: bold;
}
.p-cooler_wrap_table_wrap_tbody_tr td label {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.p-cooler_wrap_table_wrap_tbody_tr td label h3 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr td label h3 {
    margin: 0;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0.57px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr td label p {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr td label p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.39px;
  }
}
.p-cooler_wrap_table_wrap_tbody_tr td span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_table_wrap_tbody_tr td span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
  }
}
.p-cooler_wrap_caution {
  margin: 49px auto 0;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_caution {
    margin: 30px 0 0 0;
  }
}
.p-cooler_wrap_caution p {
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-cooler_wrap_caution p {
    font-size: 12px;
    line-height: 18px;
  }
}

.p-ice {
  /****----------
  *****base
  *****----------*/
  /****----------
  *****base
  *****----------*/
  padding: 200px 0;
  margin: 0 auto;
}
.p-ice img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.p-ice button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.p-ice p {
  font-size: 1.6em;
  line-height: 1.75em;
}
.p-ice a {
  display: block;
  text-decoration: none;
  transition: opacity 0.15s;
  cursor: pointer;
}
.p-ice li {
  list-style: none;
}
.p-ice table {
  border-spacing: 0;
}
.p-ice input[type=submit] {
  cursor: pointer;
}
.p-ice select::-ms-expand {
  display: none;
}
@media screen and (max-width: 1024px) {
  .p-ice .ta {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .p-ice .ta {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .p-ice .pc {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .p-ice .pc {
    display: flex;
  }
}
.p-ice .is-tab-active {
  background-color: #ffede2;
  font-weight: bold;
}
.p-ice .is-contents-active {
  display: block;
}
.p-ice .is-tab-red {
  border-bottom: 9px solid #f78665 !important;
}
.p-ice .is-tab-green {
  border-bottom: 9px solid #2ed39d !important;
}
.p-ice .is-tab-blue {
  border-bottom: 9px solid #29c0d7 !important;
}
@media screen and (max-width: 1024px) {
  .p-ice {
    padding: 100px 0;
  }
}
.p-ice_wrap h1 {
  text-align: center;
  font-size: 50px;
  line-height: 75px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap h1 {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.45px;
  }
}
.p-ice_wrap_table {
  margin: 18px auto 200px;
  overflow-x: auto;
  max-width: 100%;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_table {
    margin: 16px auto 100px;
    width: 100%;
  }
}
.p-ice_wrap_table_wrap {
  width: 1400px;
  border: 1px solid #c4c4c4;
  border-collapse: separate;
}
.p-ice_wrap_table_wrap_tbody_tr td {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.p-ice_wrap_table_wrap_tbody_tr td a {
  font-size: 16px;
  line-height: 24px;
}
.p-ice_wrap_table_wrap_tbody_tr td .hosizaki {
  width: 160px;
}
.p-ice_wrap_table_wrap_tbody_tr td .panasonic {
  width: 162px;
}
.p-ice_wrap_table_wrap_tbody_tr td .galilei {
  width: 162px;
}
.p-ice_wrap_table_wrap_tbody_tr td .daiwa {
  width: 162px;
}
.p-ice_wrap_table_wrap_tbody_tr td:first-child {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  min-width: 215px;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr td:not(:first-child) {
  min-width: 280px;
}
.p-ice_wrap_table_wrap_tbody_tr_first_wrap img {
  width: 100px;
}
.p-ice_wrap_table_wrap_tbody_tr_first_wrap span {
  font-size: 17px;
  line-height: 22px;
  font-family: "Hiragino Kaku Gothic ProN";
}
.p-ice_wrap_table_wrap_tbody_tr:first-child td:first-child {
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:first-child td:nth-child(2) {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
  padding: 40px 0;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(2) td:first-child {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(3) {
  background: #ee7566;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(3) td {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ffffff;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(3) td:nth-child(2) {
  position: sticky;
  left: 215px;
  z-index: 2;
  padding: 40px 0;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(4) td:first-child {
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(4) td:nth-child(2) {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
  padding: 40px 0;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(5) td:first-child {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(5) td:nth-child(2) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(6) td:first-child {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(6) td:nth-child(2) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(7) td:first-child {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(7) td:nth-child(2) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(8) td:first-child {
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(8) td:nth-child(2) {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(8) td:nth-child(5) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(9) td:first-child {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(9) td:nth-child(4) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(10) td:first-child {
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(10) td:nth-child(2) {
  position: sticky;
  left: 215px;
  z-index: 2;
  background: #fbfbfb 0% 0% no-repeat padding-box !important;
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_wrap_tbody_tr:nth-child(10) td:nth-child(5) {
  padding: 40px 0;
}
.p-ice_wrap_table_wrap_tbody_tr:not(:last-child) td {
  border-bottom: 1px solid #c4c4c4;
}
.p-ice_wrap_table_sp_ul {
  display: flex;
  border-bottom: 9px solid #f78665;
}
.p-ice_wrap_table_sp_ul_tab {
  width: 100%;
  padding: 10px 12px;
  text-align: center;
}
.p-ice_wrap_table_sp_ul_tab:first-child {
  background: #f78665 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_ul_tab:nth-child(2) {
  background: #29c0d7 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_ul_tab:last-child {
  background: #2ed39d 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_ul_tab img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 599px) {
  .p-ice_wrap_table_sp_ul_tab img {
    width: 100px;
    height: 50px;
  }
}
.p-ice_wrap_table_sp_ul_tab span {
  margin: 3px 0 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
}
.p-ice_wrap_table_sp_ul_tab label {
  margin: 0 auto;
  display: block;
  border-bottom: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
}
.p-ice_wrap_table_sp_wrap {
  overflow-x: auto;
  max-width: 100%;
}
.p-ice_wrap_table_sp_wrap_wrap {
  display: none;
  width: -moz-max-content;
  width: max-content;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}
.p-ice_wrap_table_sp_wrap_wrap:first-child .p-ice_wrap_table_sp_wrap_wrap_tbody_tr_thbg {
  background: #ec7366 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_wrap_wrap:nth-child(2) .p-ice_wrap_table_sp_wrap_wrap_tbody_tr_thbg {
  background: #29c0d7 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_wrap_wrap:last-child .p-ice_wrap_table_sp_wrap_wrap_tbody_tr_thbg {
  background: #2ed39d 0% 0% no-repeat padding-box;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr:not(:last-child) td {
  border-bottom: 1px solid #c4c4c4;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr:nth-child(13) td {
  border-bottom: none !important;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr th {
  padding: 10px 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-right: 1px solid #c4c4c4;
  position: sticky;
  z-index: 1;
  left: 0;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr th span {
  display: block;
  font-size: 12px;
  line-height: 18px;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr th span:first-child {
  margin: 0 0 10px 0;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr td {
  padding: 0 10px;
  text-align: center;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr td:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr td a {
  font-size: 16px;
  line-height: 24px;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr td img {
  width: 100px;
}
.p-ice_wrap_table_sp_wrap_wrap_tbody_tr_thbg {
  padding: 6px 16px;
  font-weight: bold;
  color: #ffffff;
}
.p-ice_wrap_save_losscut {
  max-width: 1360px;
  height: 522px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-ice_wrap_save_text {
  max-width: 1004px;
  margin: 100px auto 10px;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_text {
    margin: 58px auto 10px;
    font-size: 16px !important;
    line-height: 25px !important;
  }
}
.p-ice_wrap_save_text span {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_text span {
    font-size: 16px;
    line-height: 25px;
  }
}
.p-ice_wrap_save_text span:nth-child(2) {
  color: #00a0e9;
}
.p-ice_wrap_save_text span:nth-child(3) {
  color: #8cb900;
}
.p-ice_wrap_save_wrap {
  display: flex;
  justify-content: center;
  max-width: 1004px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_wrap {
    flex-direction: column;
    align-items: center;
  }
}
.p-ice_wrap_save_wrap_plus {
  color: #036eb7;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 15px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_wrap_plus {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}
.p-ice_wrap_save_wrap_plus::before, .p-ice_wrap_save_wrap_plus::after {
  content: "";
  position: absolute;
  top: calc((100% + 150px) / 2);
  left: 15px;
  width: 11px;
  height: 40px;
  background-color: currentColor;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_wrap_plus::before, .p-ice_wrap_save_wrap_plus::after {
    top: 15px;
    left: 4px;
    width: 6px;
    height: 20px;
  }
}
.p-ice_wrap_save_wrap_plus::after {
  transform: rotate(90deg);
}
.p-ice_wrap_save_wrap img:first-child {
  max-width: 467px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_wrap img:first-child {
    max-width: 300px;
  }
}
.p-ice_wrap_save_wrap img:last-child {
  max-width: 467px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_wrap img:last-child {
    max-width: 300px;
  }
}
.p-ice_wrap_save_runcost {
  max-width: 1004px;
  margin: 78px auto 80px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_runcost {
    margin: 30px auto;
    padding: 0 13px;
  }
}
.p-ice_wrap_save_runcost h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 4px 0;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_runcost h1 {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 35px;
  }
}
.p-ice_wrap_save_runcost img {
  max-width: 1004px;
  max-height: 850px;
  margin: 0 0 7px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_runcost img {
    margin: 0;
  }
}
.p-ice_wrap_save_runcost p {
  font-size: 13px;
  line-height: 20px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_runcost p {
    font-size: 12px;
    line-height: 18px;
  }
}
.p-ice_wrap_save_caution {
  max-width: 924px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution {
    padding: 0 6px;
  }
}
.p-ice_wrap_save_caution p {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution p {
    font-size: 16px;
    line-height: 20px;
  }
}
.p-ice_wrap_save_caution h2 {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 38px;
  color: #ee7566;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
.p-ice_wrap_save_caution span {
  margin: 0 auto 5px;
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution span {
    font-size: 16px;
    line-height: 20px;
  }
}
.p-ice_wrap_save_caution span a {
  display: inline;
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
  color: #0000ff;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution span a {
    font-size: 16px;
    line-height: 20px;
  }
}
.p-ice_wrap_save_caution img {
  margin: 5px auto 0;
  max-width: 497px;
  max-height: 249px;
}
@media screen and (max-width: 1024px) {
  .p-ice_wrap_save_caution img {
    padding: 0 24px;
  }
}
@media screen and (max-width: 599px) {
  .p-ice_wrap_save_caution img {
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */