.p-cooler {
    .ta {
        @include mq-max(ta) {
            display: block;
        }
        @include mq-min(ta) {
            display: none;
        }
    }
    .pc {
        @include mq-max(ta) {
            display: none;
        }
        @include mq-min(ta) {
            display: flex;
        }
    }
    &_wrap {
        padding: 98px 0;
        margin: 0 auto;
        @include mq-max(sp) {
            padding: 85px 0 50px;
        }
        h2 {
            display: flex;
            position: relative;
            margin: 0 auto;
            justify-content: center;
            font-weight: bold;
            @include mq-max(ta) {
                max-width: max-content;
            }
            label {
                display: inline-block;
                width: 68px;
                font-size: 30px;
                letter-spacing: -16.5px;
                &:first-child {
                    text-align: center;
                    @include mq-max(ta) {
                        top: 0;
                        left: 0;
                        text-align: inherit;
                    }
                }
                &:last-child {
                    text-align: left;
                    @include mq-max(ta) {
                        top: 0;
                        right: 0;
                    }
                }
                @include mq-max(ta) {
                    position: absolute;
                    width: 34px;
                    font-size: 23px;
                }
            }
            p {
                font-size: 30px;
                margin: 0 20px;
                @include mq-max(ta) {
                    margin: 0;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
        h1 {
            margin: 44px 0 1px;
            text-align: center;
            font-size: 50px;
            line-height: 75px;
            font-weight: bold;
            @include mq-max(ta) {
                margin: 30px 0 10px;
                font-size: 20px;
                line-height: 30px;
            }
        }
        h3 {
            margin: 0 0 6px 0;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            font-weight: normal;
            @include mq-max(ta) {
                margin: 0 14px 42px;
                font-size: 16px;
                line-height: 20px;
            }
        }

        &_table {
            margin: 0 auto;
            overflow: auto;
            overflow-x: scroll;
            width: max-content;
            @media screen and (max-width: 1420px) {
                width: inherit;
            }
            &_wrap {
                width: 1420px;
                border-collapse: separate;
                border-spacing: 13px 0;
                @include mq-max(ta) {
                    width: max-content;
                    margin: 0 auto;
                    border-spacing: 5px 0;
                }
                &_tbody {
                    &_tr {
                        &:nth-child(odd) {
                            td {
                                background-color: #e4e7ec;
                            }
                        }
                        &:nth-child(even) {
                            td {
                                background-color: #f8f8f8;
                            }
                        }
                        &_th {
                            position: relative;
                            padding-bottom: 14px;
                            &:first-child {
                                left: 0;
                                position: sticky;
                                z-index: 1;
                            }
                            &_triangle {
                                height: 396px;
                                background-color: $white;
                                @include mq-max(ta) {
                                    height: 260px;
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    border-style: solid;
                                    border-width: 0 262px 396px 0;
                                    border-color: transparent #e4e7ec transparent transparent;
                                    @include mq-max(ta) {
                                        border-width: 0 84px 259px 0;
                                    }
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 13px;
                                    right: 0;
                                    border-style: solid;
                                    border-width: 396px 0 0 262px;
                                    border-color: transparent transparent transparent #e4e7ec;
                                    @include mq-max(ta) {
                                        border-width: 250px 0 0 84px;
                                    }
                                }
                                p {
                                    position: absolute;
                                    padding: 0 !important;
                                    z-index: 1 !important;
                                    font-size: 25px;
                                    line-height: 38px;
                                    letter-spacing: 0.75x;
                                    color: $black !important;
                                    @include mq-max(ta) {
                                        font-size: 16px;
                                        line-height: 24px;
                                        letter-spacing: 0.48px;
                                    }
                                    &:first-child {
                                        top: 99px;
                                        right: 30px;
                                        @include mq-max(ta) {
                                            top: 10px;
                                            right: 10px;
                                        }
                                    }
                                    &:last-child {
                                        bottom: 90px;
                                        left: 30px;
                                        @include mq-max(ta) {
                                            bottom: 23px;
                                            left: 14px;
                                        }
                                    }
                                }
                            }
                            img {
                                width: 270px;
                                height: 300px;
                                object-fit: cover;
                                @include mq-max(ta) {
                                    width: 130px;
                                    height: 196px;
                                }
                            }
                            p {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 32px 30px;
                                font-size: 25px;
                                line-height: 38px;
                                font-weight: bold;
                                letter-spacing: 0.75px;
                                color: $white;
                                @include mq-max(ta) {
                                    padding: 11px 0;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: 0.48px;
                                }
                            }
                            &:nth-child(1) {
                                min-width: 261px;
                                @include mq-max(ta) {
                                    min-width: 90px;
                                }
                            }
                            &:nth-child(2) {
                                p {
                                    background: transparent linear-gradient(180deg, #28c2c0 0%, #2ed39b 100%) 0% 0%
                                        no-repeat padding-box;
                                }
                            }
                            &:nth-child(3) {
                                p {
                                    background: transparent linear-gradient(180deg, #9485e1 0%, #bd79cf 100%) 0% 0%
                                        no-repeat padding-box;
                                }
                            }
                            &:nth-child(4) {
                                p {
                                    background: transparent linear-gradient(180deg, #409ed7 0%, #28c2d7 100%) 0% 0%
                                        no-repeat padding-box;
                                    @include mq-max(ta) {
                                        min-height: 62px;
                                    }
                                }
                            }
                            &:nth-child(5) {
                                p {
                                    background: transparent linear-gradient(180deg, #ec7266 0%, #f88765 100%) 0% 0%
                                        no-repeat padding-box;
                                    @include mq-max(ta) {
                                        min-height: 62px;
                                    }
                                }
                            }
                            // &:not(:last-child) {
                            //     padding-right: 13px;
                            // }
                        }
                        td {
                            padding: 20px 0 17px;
                            text-align: center;
                            @include mq-max(ta) {
                                padding: 13px 0 10px !important;
                            }
                            &:not(:last-child) {
                                padding-bottom: 13px;
                            }
                            &:first-child {
                                position: sticky;
                                z-index: 1;
                                left: 0;
                                label {
                                    h3 {
                                        font-weight: bold;
                                    }
                                    p {
                                        font-weight: bold;
                                    }
                                }
                            }
                            label {
                                display: flex;
                                justify-content: center;
                                align-items: baseline;
                                h3 {
                                    font-size: 30px;
                                    line-height: 30px;
                                    letter-spacing: 0.9px;
                                    @include mq-max(ta) {
                                        margin: 0;
                                        font-size: 19px;
                                        line-height: 20px;
                                        letter-spacing: 0.57px;
                                    }
                                }
                                p {
                                    font-size: 20px;
                                    line-height: 30px;
                                    font-weight: bold;
                                    letter-spacing: 0.6px;
                                    @include mq-max(ta) {
                                        font-size: 13px;
                                        line-height: 20px;
                                        letter-spacing: 0.39px;
                                    }
                                }
                            }
                            span {
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.48px;
                                @include mq-max(ta) {
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: 0.36px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &_caution {
            margin: 49px auto 0;
            @include mq-max(ta) {
                margin: 30px 0 0 0;
            }
            p {
                justify-content: center;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                @include mq-max(ta) {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}
